.container {
  background-color: gray;
  display: flex;
}
.container div {
  background-color: blue;
  color: white;
  margin: 10px;
  height: 75px;
  font-size: 30px;
  flex-grow: 1;
}
#item-1 {
  flex-grow: 2;
}
#item-2 {
  flex-grow: 3;
}
