.container {
  height: 600px;
  background-color: gray;
  display: flex;
  align-items: baseline;
  color: white;
  text-align: center;
  font-size: 30px;
}
.container div {
  background-color: blue;
  width: 100px;
  margin: 10px;
}
#item-1 {
  order: -4;
}
#item-2 {
  order: -2;
}
